/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
#timeline ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
#timeline ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  list-style: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#timeline ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
#timeline ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
#timeline ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
