/* all pages */
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
* { margin: 0; padding: 0; }

.content {
	padding-top: 4em;
}
.nav-item {
	text-align: center;
}

/* form-based pages */
.login-form, .rsvp-form {
	width: 50%;
	margin: 0 auto;
}

/* Homepage */
.hero-text {
	margin-top: -8em;
	margin-bottom: 4em;
	z-index: 5;
    text-align: center;
    color: black;
	font-family: 'PT Serif', serif;
	-webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: black;
   font-size: 2em;
}

.hero-img {
	background-image: url("/static/assets/img/background.jpg");
	height: 18em;
    background-position: center;
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
	filter:blur(8px);
	position: relative;
	z-index: -5;
}

.custom-icons {
	text-align: center;
	padding-bottom: .5em;
}

.custom-icons img {
	height: 7em;
}
.image-person {
	text-align: center;
}
@media (min-width: 992px) { 
	.signup-card {
		margin-top: -10em;	
	}
}
.alert {
	margin-bottom: 0 !important;
	text-align: center;
}
.hero {
	height: 20em;
	background-color: gray;
}
.signup-card .btn {
	margin: auto;
	display: block;
}

/* rate page */

.rate {
  display: inline-block;
}

.bad .persons-name {
  color: red;
}
.rate-person:not(.bad) .persons-name {
  color: green;
}
.rate-person:not(.bad) .fa-smile {
  color: green;
}

.bad .fa-frown{
  color: red;
}

.rate-person {
  background-color: lightgrey;
  text-align: center;
  font-size: 2em;
  border: solid black 1px;
  margin-bottom: .5em;
}
.rate-person .far:hover {
  color: darkblue;
}