<!doctype html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{{ url_for('static', filename='./assets/img/logo.png') }}">
		<title>{% block title %}{% endblock %} - GH Studios</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='./assets/css/main.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='./assets/js/main.js') }}"></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand mr-auto mr-lg-0" href="#"><img src="{{ url_for('static', filename='./assets/img/logo.png') }}" alt="GreenHawk logo" height="32px"></a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
		  {% if session['username'] %}
			<li class="nav-item">
				<a class="nav-link" href="/logout">Log-out</a>
			</li>
		  {% elif request.path != "/login" and request.path != "/signup" %}
			<li class="nav-item">
				<a class="nav-link" href="/login">Log-in</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/signup">Sign-up</a>
			</li>
		  {% endif %}
        </ul>
      </div>
    </nav>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block hero %}
{% endblock %}
<div class="container content">
  {% block content %}{% endblock %}
</div>