{% extends 'head.html' %}

{% block title %}Home{% endblock %}
{% block hero %}<div style="height: 20em;background-color: gray;" class="hero container-fluid"></div>{% endblock %}
{% block content %}
	<div style="color: black;" class="hero-text">
		<h1>Wedding Butler</h1>
		<div>- Under construction -</div>
	</div>
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 offset-md-1">
			<div class="custom-icons">
				<img src="{{ url_for('static', filename='./assets/img/Seating Icon.png') }}">
			</div>
			<p>
				<span id="col1"><span>Our initial idea was a simple wedding seating app that would allow for wedding hosts to provide guest lists, and be able to algorithmically assign seats based on each guest’s like or dislike of another guest, with the intent being to provide the appropriate amount of space between them. However, we believed we could do much more than just seating arrangements.</span></span>
			</p>
		</div>
		<div class="col-md-2">
			<div class="custom-icons">
				<img src="{{ url_for('static', filename='./assets/img/Budget Icon.png') }}">
			</div>
			<p>
				<span id="col2">Our current intent is to make an all-in-one wedding planning app that would be able to, having been given the budget for the wedding, make suggestions for various services, such as catering, venue booking, or floral arrangements, so as to best fit the provided budget. Our seating arrangement planner will only be a component of this application. In regards to service suggestion, we could provide other details for each given service provider, with the intent being to help our customers get weddings planned out to be under budget and ahead of schedule.</span>
			</p>
			
		</div>
		<div class="col-md-2 ">
			<div class="custom-icons">
				<img src="{{ url_for('static', filename='./assets/img/3rd Icon.png') }}">
			</div>
			<p>
				<span id="col3"><span>In the real world, we already have professional wedding planners. The goal of this application is to provide a means for the user to achieve semi-professional results, without necessarily needing to add on additional wedding planner fees to their budget.</span></span>
			</p>
		</div>
		<div class="col-md-3 offset-md-1">
			<div style="margin-top: -10em;" class="card">
			<div class="card-header">Sign for Wedding Butler</div>
			<div class="card-body">
				<div class="image-person">
					<img src="{{ url_for('static', filename='./assets/img/AVi guy.png') }}">
				</div>
				<form method="POST">
				  <div class="form-group">
					<label for="userInput">Username:</label>
					<input type="text" class="form-control" name="user" id="userInput" placeholder="Enter Username">
				  </div>
				  <div class="form-group">
					<label for="emailInput">Email:</label>
					<input type="text" class="form-control" name="email" id="emailInput" placeholder="Enter Email">
				  </div>
				  <div class="form-group">
					<label for="passInput">Password:</label>
					<input type="password" class="form-control" name="pass" id="passInput" placeholder="***********">
				  </div>
				  <div class="form-group">
					<label for="passInput2">Repeat Password:</label>
					<input type="password" class="form-control" name="pass2" id="passInput2" placeholder="***********">
				  </div>
				  <button type="submit" class="btn btn-danger">Sign-up</button>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
