{% extends 'head.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	<div class="card login-form">
		<div class="card-header">Login</div>
		<div class="card-body">
			<form method="POST">
			  <div class="form-group">
				<label for="emailInput">Email:</label>
				<input type="text" class="form-control" name="email" id="emailInput" placeholder="Enter Email">
			  </div>
			  <div class="form-group">
				<label for="passInput">Password:</label>
				<input type="password" class="form-control" name="pass" id="passInput" placeholder="***********">
			  </div>
			  <button type="submit" class="btn btn-primary">Login</button>
			  <a class="btn btn-primary" href="/signup" role="button">Sign-up</a>
			</form>
	  </div>
	</div>
{% endblock %}