{% extends 'head.html' %}

{% block title %}Preferred Sitting{% endblock %}

{% block content %}

{% for name in guests %}
 
	<div class="rate-person {% if name[1] == true %}bad{% endif %}">
		<div class="rate like-person">
			<i class="far fa-smile"></i>
		</div>
		<div class="rate persons-name">
			{{ name[0] }}
		</div>
		<div class="rate hate-person">
			<i class="far fa-frown"></i>
		</div>
	</div>

{% endfor %}

{% if guests is defined and guests|length > 0%}
<form method="POST">
	<input type="hidden" class="form-control" id="listvalues" name="list" value="">
	<button type="submit" class="btn btn-primary">Save Preference</button>
</form>
{% endif %}

 <script src="{{ url_for('static', filename='./assets/js/pick.js') }}"></script>
{% endblock %}