{% extends 'head.html' %}

{% block title %}Sign-up{% endblock %}

{% block content %}
	<div class="card rsvp-form">
		<div class="card-header">RSVP for the Wedding!</div>
		<div class="card-body">
			<form method="POST">
			  <div class="form-group">
				<label for="NameInput">Full Name:</label>
				<input type="text" class="form-control" name="name" id="NameInput" placeholder="Enter Name">
			  </div>
			  <div class="form-group">
				<label for="emailInput">Email:</label>
				<input type="text" class="form-control" name="email" id="emailInput" placeholder="Enter Email">
			  </div>
			<div class="form-group">
				<label for="codeInput">Wedding Code:</label>
				<input type="text" class="form-control" name="code" id="codeInput" placeholder="1234">
			  </div>
			  <button type="submit" class="btn btn-primary">Reserve</button>
			</form>
	  </div>
	</div>
{% endblock %}