{% extends 'head.html' %}

{% block title %}Seating Chart{% endblock %}
{% block content %}
	<div class="card login-form">
		<div class="card-body">
			Welcome to our seating chart. With a few simple steps we will create a suggested seating chart for your upcoming event. You will just need to answer a few questions to begin.
      </div>
    </div>
    <hr>
    <div class="seat-questions">
        <h2>Seating Questions</h2>
        <form method="POST">
			<p>How many people per table would you like?</p>
            <input type="number" name="seats" min="0" max="25">
			<hr>
			<button type="submit" class="btn btn-primary">Generate</button>
        </form> 
    </div>
{% endblock %}