{% extends 'head.html' %}

{% block title %}Timeline{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='./assets/css/checklist.css') }}">
  </head>
	<div class="card login-form">
		<div class="card-body">
			Here you will find a general wedding timeline. We suggest that you try to complete each step within the suggested time block. Have fun!
      </div>
    </div>
    <br>
    <div id="timeline">
		<div id="timeframe">
			<img src="/static/assets/img/Platter Open.png" class="plat">
			<h2>10-12 months out</h2>
			<ul id="myUL">
				<li id="el" class="checked">Engagement</li>
				<li id="el">Pick a wedding date</li>
				<li id="el">Pick your venue</li>
				<li id="el">Choose your wedding party</li>
			  </ul>
		</div>
          <br>
		<div id="timeframe">
		  <img src="/static/assets/img/Platter Open.png" class="plat">
          <h2>8-10 months out</h2>
          <ul id="myUL">
            <li id="el">Pick your entertainment</li>
            <li id="el">Register for gifts</li>
            <li id="el">Search for hotel rooms/rentals for guests  </li>
            <li id="el">Pick your attire</li>
          </ul>
		</div>
          <br>
		<div id="timeframe">
		  <img src="/static/assets/img/Platter Open.png" class="plat">
          <h2>6-8 month out</h2>
          <ul id="myUL">
              <li id="el">Plan your honeymoon! A dream destination.</li>
          </ul>
		</div>
          <br>
		<div id="timeframe">
		  <img src="/static/assets/img/Platter Open.png" class="plat">
          <h2>4-6 months out</h2>
          <ul id="myUL">
              <li id="el">Pick your rings</li>
          </ul>
		</div>
          <br>
		 <div id="timeframe">
		  <img src="/static/assets/img/Platter Open.png" class="plat">
          <h2>3 months out</h2>
          <ul id="myUL">
              <li id="el">Order your cake</li>
              <li id="el">Hire transportation (optional)</li>
          </ul>
		</div>
          <br>
		<div id="timeframe">
		  <img src="/static/assets/img/Platter Open.png" class="plat">
          <h2>2 months out</h2>
          <ul id="myUL">
              <li id="el">Sent invites</li>
              <li id="el">Write your vows. Oh darling, how I love you...</li>
              <li id="el">Book hair and makeup stylists</li>
          </ul>
		</div>
          <br>
		<div id="timeframe">
		  <img src="/static/assets/img/Platter Open.png" class="plat">
          <h2>1 month out</h2>
          <ul id="myUL">
            <li id="el">Apply for a marriage license</li>
            <li id="el">Make sure your clothes fit</li>
          </ul>
		</div>
          <br>
		<div id="timeframe">
		  <img src="/static/assets/img/Platter Open.png" class="plat">
          <h2>2 weeks out</h2>
          <ul id="myUL">
              <li id="el">Review RSVP list</li>
              <li id="el">Finalize song list</li>
          </ul>
		</div>
    </div>
    <br><br>
	<script src="{{ url_for('static', filename='./assets/js/checklist.js') }}"></script>
{% endblock %}